@import "../../theme/variables.scss";

.home {
  dd {
    margin-bottom: 15px;
  }
}
.masthead {
  background-image: url('./nikohero.jpg');
  background-size: cover;
  background-position: center;
  color: $canvasColor;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .logo {
    width: 250px;
    position: absolute;
    left: 1em;
    top: 1em;
    p {
      margin: 0px;
    }
    img {
      width: 75%;
      margin: auto;
    }
  }
  h1 {
    color: lighten($accent1Color, 10%);
    font-size: 4em;
    margin-top: 0;
  }
  h2 {
    color: $primary2Color;
    font-size: 2em;
    margin: 20px;
  }
  a {
    color: #ddd;
  }
  p {
    margin: 10px;
  }
  .humility {
    color: $accent2Color;
    a {
      color: $accent2Color;
    }
  }
  .github {
    font-size: 1.5em;
  }
}

.counterContainer {
  text-align: center;
  margin: 20px;
}
