@import "../../theme/variables.scss";

.home {
  dd {
    margin-bottom: 15px;
  }
}
.masthead {
  background-image: url('./banner1.jpg');
  background-size: cover;
  background-position: center;
  color: $canvasColor;
  text-align: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .logo {
    width: 250px;
    left: 1em;
    top: 1em;
  }
  h1 {
    color: lighten($accent1Color, 0%);
    font-size: 4em;
    margin-top: 0;
  }
  h2 {
    color: $primary2Color;
    font-size: 2em;
    margin: 20px;
  }
  a {
    color: #ddd;
  }
}

.counterContainer {
  text-align: center;
  margin: 20px;
}

.inspirationSection {
  composes: container;
  background-color: lighten($accent1Color, 15%);
  min-height: 50vh;
  h3 {
    max-width: 35em;
    margin: auto auto;
    line-height: 1.5em;
    text-align: center;
    color: darken($primary1Color, 20%);
  }
}

.featureSection {
  composes: container;
  background-color: lighten($primary2Color, 25%);
  display: flex;
}

.feature {
  flex: initial;
  width: auto;
}