@import "../../theme/variables.scss";

.home {
  position: relative;
}

.mastheadContainer {
  height: 63vh;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
  @include mq($from: tablet) {
    align-items: center;
  }
  @include mq($from: desktop) {
    align-items: flex-end;
  }
}

.videoElements {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  overflow: hidden;
}

.posterImage {
  background-image: url('./niko.jpg');
  background-size: cover;
  background-position: center top;
  height: auto;
  width: 100%;
  position: absolute;
  composes: videoElements;
}

.mastheadVideo {
  display: none;
  @include mq($from: desktop){
    display: initial;
    composes: videoElements;
    bottom: 50%;
    right: 50%;
    transform: translateX(50%) translateY(0%);
  }
}

.overlay {
  display: none;
  @include mq($from: desktop){
    display: initial;
    opacity: 0.4;
    composes: videoElements;
    height: 63vh;
    background-color: black;
    transition: all 3s 4s ease-in-out;
  }
}

.overlayVideo {
  display: none;
  @include mq($from: desktop){
    display: initial;
    composes: overlay;
    opacity: 0.2;
  }
}


.mastheadText {
  z-index: 1;
  width: 100%;
  text-align: center;
  padding: 0 1em;
  h1 {
    color: white;
    margin: 0;
    font-size: 3.0em;
    @include mq($from: tablet) {
    font-size: 4.25em;
    line-height: 1.1471em;
    }
  }
  h3 {
    //display: block;
    font-family: $body-font;
    font-weight: $body-font-weight-bold;
    color: white;
    font-size: 1.25em;
    line-height: 1.1em;
    margin-bottom: 0.5em;
    @include mq($from: tablet) {
    font-size: 1.625em;
    line-height: 1.1em;
    }
  }
}

.counterContainer {
  text-align: center;
  margin: 20px;
}

.inspirationSection {
  position: relative;
  composes: container;
  display: flex;
  align-items: center;
  justify-content: center;
  h2{
    font-family: $body-font;
    font-weight: $body-font-weight-normal;
    color: $primary1Color;
    text-align: center;
    max-width: $container-width;
    padding: 1em;
    margin: 0;
    line-height: 1.35em;
    font-size: 1.25em;

    @include mq($from: tablet) {
      padding: 1.5em;
      line-height: 1.75em;
      font-size: 1.625em;
    }
  }
}

.featureSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  @include mq($from: tablet) {
    flex-direction: row;
    justify-content: center;
  }
}

.feature {
  composes: z-1;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 2px;
  width: 100%;
  height: 18em;
  max-width: 27em;
  margin: 1em;
  background-origin: content-box;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  h2 {
    padding: 0 0 12px 12px;
    margin: 0;
    color: white;
  }
  p {
    box-sizing: border-box;
    width: 100%;
    min-height: 4em;
    background-color: white;
    padding: 12px;
    margin-bottom: 0;
  }
  @include mq($from: tablet) {
    flex: 1 1 18em;
    flex-direction: column;
    justify-content: flex-end;
    margin: 2em;
  }
}

.featureBlog {
  composes: feature;
  background-image: url('./blog.jpg');
}

.featureTools {
  composes: feature;
  background-image: url('./tools.jpg');
}
