@import "./gridless.scss";

/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

// Custom Colors
$primary1Color: #9C27B0;
$primary2Color: #7B1FA2;
$primary3Color: #E1BEE7;
$accent1Color: #E91E63;
$accent2Color: #F5F5F5;
$accent3Color: #9E9E9E;
$textColor: black;
$alternateTextColor: white;
$canvasColor: white;
$borderColor: #E0E0E0;

// Bootstrap Variables
$brand-secondary: #e25139;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;

$text-color: #333;

$font-size-base: 1.25em;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;