/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

//Fonts
@import url(https://fonts.googleapis.com/css?family=Lora:400,700|Josefin+Sans);



// Colors
$primary1Color: #FF4890; //pink
$primary2Color: #00DEFF; //blue
$primary3Color: #DED0D4; //warm grey
$accent1Color: #FFE19B;  //yellow
$accent2Color: #5BFFA3;  //green
$accent3Color: #9E9E9E;  //grey
$textColor: #222;
$alternateTextColor: white;
$canvasColor: white;
$borderColor: #E0E0E0;

// Navigation Bar Variables
$navBar-height: 3.5em;

@import "./gridless.scss";
@import "./mq.scss";

.container {
	padding: 1em 1em;
	@include mq($from: tablet) {
		padding: 2em 2em;
	}
}