@import "../../theme/variables.scss";

.app {

  .brand {
    background: url('../Home/logo.svg') no-repeat center center;
    $size: 40px;
    width: $size;
    height: $size;
    background: url('../Home/logo.svg') no-repeat center center;

  }
}

/*Navigation menu styles*/
$drawer-width: 16em;
$burger-height: 0.8em;

.navBar{
  height: $navBar-height;
  display: block;
  position: fixed;
  width: 100%;
  background-color: none;
  //box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  z-index: 2;
}

.nav {
  position: absolute;
  padding-top: $navBar-height;
  top: 0;
  width: $drawer-width;
  height: 100vh;
  background-color: $canvasColor;
  transform: translate(-100%, 0);
  transition: all 500ms ease-in-out;
  z-index: 3;
}

.navOpen {
  composes: nav;
  transform: translate(0,0);
  overflow-y: auto;
}

.navList {
  padding: 0;
  margin: 0;
}

.navItem {
  display: block;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.625em; /* 26px */
  line-height: 1em;
  margin: 0.5 0;

  a, a:visited {
    display: block;
    padding: 1em;
    color: $textColor;
    text-decoration: none;
  }

  a:hover, a:focus {
    background-color: #666666;
    color: $primary2Color;
  }
}

.pageWrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translate(0, 0);
  transition: all 500ms ease-in-out;
}

.pageWrap:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: rgba(0,0,0,0.0);
  transition: all 500ms ease-in-out;
}

.pageWrapOpen {
  composes: pageWrap;
  overflow: hidden;
}

.pageWrapOpen:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  background-color: rgba(0,0,0,0.5);
  transition: all 500ms ease-in-out;
}

/*Animated Burger Icon*/
.burger {
  cursor: pointer;
  position: absolute;
  top: ($navBar-height - $burger-height) / 2;
  left: 2em;
  width: $burger-height * 1.5;
  height: $burger-height;
  transform: translate(0, 0);
  transition: all 500ms ease-in-out;
  z-index: 4;
}

.burgerOpen {
  composes: burger;
  transform: translate($drawer-width * 0.7, 0);
  transition: all 500ms ease-in-out;
}

.barCommon {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top: 2px solid white;
  width: 100%;
  transition: 0.55s;
}

.barTop {
  composes: barCommon;
  top: 0;
}

.barMiddle {
  composes: barCommon;
  top: $burger-height / 2;
}

.barBottom {
  composes: barCommon;
  top: $burger-height;
}

.barTopOpen {
  composes: barTop;
  backface-visibility: hidden;
  top: $burger-height / 3;
  border-top: 2px solid black;
  transform: rotate(50deg);
  transition: all 0.55s 0.5s;
}

.barMiddleOpen {
  composes: barMiddle;
  opacity: 0;
}

.barBottomOpen {
  composes: barBottom;
  backface-visibility: hidden;
  top: $burger-height / 3;
  border-top: 2px solid $textColor;
  transform: rotate(-410deg);
  transition: all 0.55s 0.5s;
}

//Footer styles
.footer {
  width: 100%;
  height: 10em;
  color: $alternateTextColor;
  background:
  radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.1) 21%, rgba(255,255,255,.1) 34%, transparent 35%, transparent),
  radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.1) 21%, rgba(255,255,255,.1) 34%, transparent 35%, transparent) 0 -50px;
  background-color: darken($accent3Color, 25%);
  background-size:75px 100px;
}

.footerContainer {
  height: 100%;
  composes: container;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    padding: 0 1em;
  }
}

svg {
  fill: white;
}