@import "normalize.css/normalize.css";
@import "../../theme/variables.scss";

.app {
  .brand {
    position: absolute;
    $size: 40px;
    top: 5px;
    left: 5px;
    display: inline-block;
    background: #2d2d2d url('../Home/logo.svg') no-repeat center center;
    width: $size;
    height: $size;
    background-size: 80%;
    margin: 0 10px 0 0;
    border-radius: $size / 2;
  }
}

/*Navigation menu styles*/
$navBar-height: 64px;
$drawer-width: 250px;
$burger-height: 18px;

.navBar{
  height: $navBar-height;
  width: 100%;
  background-color: $primary1Color;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  z-index: 2;
}

.nav {
  padding-top: $navBar-height;
  position: fixed;
  top: 0;
  width: $drawer-width;
  height: 100%;
  background-color: $canvasColor;
  transform: translate(-100%, 0);
  transition: all 500ms ease-in-out;
  overflow-y: auto;
  z-index: 4;
}

.navOpen {
  composes: nav;
  transform: translate(0,0);
}

.navList {
  padding: 0;
  margin: 0;
}

.navItem {
  display: block;
  padding: 0;
  margin: 0;
  font-size: $font-size-base;

  a, a:visited {
    display: block;
    padding: 1em;
    color: $textColor;
    text-decoration: none;
  }

  a:hover, a:focus {
    background-color: #666666;
    color: white;
  }
}

.pageWrap {
  width: 100%;
  height: 100%;
  transform: translate(0, 0);
  transition: all 500ms ease-in-out;
}

.pageWrapOpen {
  composes: pageWrap;
  overflow: hidden;
}

.pageWrapOpen:before {
  content: "";
  display: block;
  position: fixed; /* could also be absolute */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  background-color: rgba(0,0,0,0.5);
  transition: all 500ms ease-in-out;
}

/*Animated Burger Icon*/
.burger {
  cursor: pointer;
  position: absolute;
  top: ($navBar-height - $burger-height) / 2;
  left: 2em;
  width: $burger-height + 2px;
  height: $burger-height;
  transform: translate(0, 0);
  transition: all 500ms ease-in-out;
  z-index: 4;
}

.burgerOpen {
  composes: burger;
  transform: translate($drawer-width * 0.7, 0);
  transition: all 500ms ease-in-out;
}

.barCommon {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top: 3px solid white;
  width: 100%;
  transition: 0.55s;
}

.barTop {
  composes: barCommon;
  top: 0;
}

.barMiddle {
  composes: barCommon;
  top: $burger-height / 2;
}

.barBottom {
  composes: barCommon;
  top: $burger-height;
}

.barTopOpen {
  composes: barTop;
  backface-visibility: hidden;
  top: $burger-height / 3;
  border-top: 3px solid black;
  transform: rotate(50deg);
  transition: all 0.55s 0.5s;
}

.barMiddleOpen {
  composes: barMiddle;
  opacity: 0;
}

.barBottomOpen {
  composes: barBottom;
  backface-visibility: hidden;
  top: $burger-height / 3;
  border-top: 3px solid black;
  transform: rotate(-410deg);
  transition: all 0.55s 0.5s;
}
